<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>

<link href="../public/css/styles.css" rel="stylesheet" type="text/css">
<link href="/css/styles.css" rel="stylesheet">

</head>

{{!-- banners --}}
<body>
    <div class = "site-header-outer">
        <h4>unnamed</h4>    
    </div>
    <div class = "site-header-inner"></div>
    <a class = "save-button">save</a>



<script src="https://code.jquery.com/jquery.js"></script>

</body>
</html>
