<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>

<link href="/css/styles.css" rel="stylesheet" type="text/css">
<link href="/css/styles.css" rel="stylesheet">


</head>

{{!-- banners --}}
<body>

<script src="https://code.jquery.com/jquery.js"></script>
{{!-- <script src="js/jquery-1.11.0.js"></script> --}}
<script src="js/bootstrap.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/introHCI.js"></script> 

<script src="js/wallfunctions.js"></script> 
<div class = "bg">
    <div class = "site-header-outer">
        <h4>unnamed</h4>    
    </div>
    <div class = "site-header-inner"></div>
    <a class = "save-button">save</a>
    <button class = "icon-addwall" id = "adding" onclick="addNotes()">+</button>
    <button class = "icon-t">T</button>
    <button class = "icon-dots">...</button>

</div>
</body>
</html>
