<html>
<head>
	<title>title</title>
	<!-- add in name -->
	<!-- <meta charset="utf-8"> -->

	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	<link href="/css/styles.css" rel="stylesheet">
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

	{{!-- <link href="/css/introHCI.css" rel="stylesheet"> --}}

</head>
<body>

	<!-- start tutorial + settings -->
	<div class="sticky-pals-container">
		<div class="sticky-pals-jumbotron">
			<h1>Welcome to Sticky Pals</h1>
			<a>
				<h2><a href="/tutorial">Start Tutorial</a></h2>
			</a>
			<a>
				<h2><a href="/settings">Settings</a></h2>
			</a>
		</div>
		<!-- three buttons -->
		<div class="createwall-button">
			<a>
			<h4><a href = "/createwall">Create Walls</a></h4>
			</a>
		</div>

		<div class="gallery-button">
			<a>
			<h4><a href="/gallery">Explore Gallery</a></h4>
            </a>
		</div>

		<div class="community-button">
			<a>
			<h4><a href="/community">Explore Community</a></h4>
            </a>
		</div>





	</div>


	
    <script src="https://code.jquery.com/jquery.js"></script>
	{{!-- <script src="js/jquery-1.11.0.js"></script> --}}
	<script src="js/bootstrap.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/introHCI.js"></script> 
</body>
</html>
