@charset "utf-8";

@media (max-width: 375px){
}
/*374 x 667*/

/*format*/
.bg{
/*	background-color: lightyellow;*/
	width: 375px
}
.sticky-pals-container{
	position: relative;
	width: 375px;
	height: 812px;
	background: #FFFFFF;
}

.sticky-pals-jumbotron{
	position: absolute;
	width: 308px;
	height: 224px;
	left: 33px;
	top: 72px;
}
.site-header-outer {
    position: absolute;
	width: 375px;
	height: 64px;
	left: 0px;
	top: 44px;
	background-color: #E0E0E0;
	text-align: center
/*	font-family: SF Pro Text;*/
}

.site-header-inner {
    position: absolute;
	width: 376px;
	height: 48px;
	left: 0px;
	top: 108px;
	background-color: #eeeeee;
}

/*buttons*/
.save-button{
/* Buttons/save */
position: absolute;
width: 65px;
height: 40px;
left: 295px;
top: 56px;
/* Rectangle 30 */
position: absolute;
width: 65px;
height: 40px;
left: 295px;
top: 56px;

background: #FFFFFF;
border-radius: 32px;
/* Save */
position: absolute;
width: 33px;
height: 20px;
left: 311px;
top: 66px;

font-family: SF Pro Text;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */
letter-spacing: -0.24px;

color: #000000;
}

.createwall-button{
	position: absolute;
	width: 307px;
	height: 90px;
	left: 42px;
	top: 348px;
/*	padding: 10px*/
	background-color: #C4C4C4;
}

.gallery-button{
	position: absolute;
	width: 307px;
	height: 90px;
	left: 42px;
	top: 480px;
	background-color: #C4C4C4;
}

.community-button{
	position: absolute;
	width: 307px;
	height: 90px;
	left: 42px;
	top: 612px;
	background-color: #C4C4C4;
}

/*icons*/
.sticky-note{
	position: absolute;
	width: 144px;
	height: 144px;
	left: 32px;
	top: 245px;
	background-color: C4C4C4;
}

.icon-addwall{
	position: absolute;
	width: 44px;
	height: 44px;
	left: 16px;
	top: 110px;
	background-color: C4C4C4;
	border: 1px solid #000000;	
}

.icon-t{
	position: absolute;
	width: 44px;
	height: 44px;
	left: 68px;
	top: 110px;
	background-color: C4C4C4;
	border: 1px solid #000000;
}

.icon-dots{
	position: absolute;
	width: 44px;
	height: 44px;
	left: 316px;
	top: 110px;	
	background-color: C4C4C4;
	border: 1px solid #000000;
}
